<ion-header>
  <ion-toolbar>
    <ion-button fill="outline" routerLink="/home">Go to home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de restaurantes -->
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants">
      <ion-label>
        <h2>Nombre: {{ restaurant.name }}</h2>
        <p>Dirección: {{ restaurant.address }}</p>
        <p>Capacidad: {{ restaurant.capacity }}</p>
      </ion-label>

      <ion-button fill="outline" color="primary" (click)="startEdit(restaurant)">Editar</ion-button>
      <ion-button fill="outline" color="danger" (click)="deleteRestaurant(restaurant.id ?? 0)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Restaurante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="newRestaurant.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-input type="text" [(ngModel)]="newRestaurant.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Capacidad:</ion-label>
        <ion-input type="number" [(ngModel)]="newRestaurant.capacity"></ion-input>
      </ion-item>
      <ion-button expand="block" color="success" (click)="addRestaurant()">Agregar Restaurante</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="editRestaurant">
    <ion-card-header>
      <ion-card-title>Editar Restaurante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="editRestaurant.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-input type="text" [(ngModel)]="editRestaurant.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Capacidad:</ion-label>
        <ion-input type="number" [(ngModel)]="editRestaurant.capacity"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="saveEdit()">Guardar Cambios</ion-button>
      <ion-button expand="block" color="medium" (click)="cancelEdit()">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>